<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Boogle</title>
    <link rel="stylesheet" href="../static/style_boogle.css">
    <link rel="icon" href="../static/favicon1.ico" type="image/ico" sizes="20x20">
</head>

<body>
    <div id="frame">
        <div id="inscription_title">
            <span class="text_blue">B</span><span class="text_red">o</span><span class="text_yellow">o</span><span class="text_blue">g</span><span class="text_green">l</span><span class="text_red">e</span>
        </div>

        <div id="box_sign_in">
            <div id="inscription_sign_in">
                Sign in
            </div>
        </div>

        <div id="box_continue_to">
            <div id="inscription_continue_to">
                Continue to Bmail
            </div>
        </div>

        <div id="box_rest">
            <input id="search_box" type="text" placeholder="Email or phone">
            <div id="box_forgot_email">
                <div id="forgot_email" class="text_blue">
                    Forgot email?
                </div>
            </div>
        </div>

        <div id="box_neki">
            <div id="private_window" class="text_gray">
                Not your computer? Use a Private Window to sign in.
            </div>
            <div id="learn_more" class="text_blue">
                Learn more
            </div>
        </div>

        <div id="box_account_next">
            <div id="create_account" class="text_blue">
                Create account
            </div>

            <button id="button_next" type="button">
                Next
            </button>
        </div>
    </div>

    <div id="box_bottom">
        <div id="button_english">
            English (United Kingdom)
        </div>
        <button id="button_help" class="text_gray">
            Help
        </button>
        <button id="button_privacy" class="text_gray">
            Privacy
        </button>
        <button id="button_terms" class="text_gray">
            Terms
        </button>

    </div>


</body>

</html>